{
  "presets": ["@babel/preset-react"],
  "plugins": [
    [
      "@babel/plugin-transform-typescript",
      {
        "allowDeclareFields": true,
        "isTSX": true,
        "jsxPragma": "React"
      }
    ]
  ]
}
